<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <title>Register</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img alt="jar picture" src="../static/images/jar-of-jam.png"
                    class="logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto col-12 justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/recipes">Recipes</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/categories" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action1</a>
                            <a class="dropdown-item" href="#">Action2</a>
                            <a class="dropdown-item" href="#">Action3</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form method="post" action="/logout">
                            <button class="nav-link btn btn-link" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <h2 class="text-center text-white m-3">Register</h2>

        <div class="container">
            <form method="post" action="/users/login"
                class="main-form mx-auto col-lg-12 d-flex flex-column justify-content-center">

                <div class="row">
                    <div class="form-group col-lg-6 mb-3">
                        <label for="firstName" class="text-white font-weight-bold">First Name</label>
                        <input id="firstName" name="firstName" type="text" min="2" max="50" class="form-control"
                            placeholder="First name" />
                        <!-- <small class="errors alert alert-danger">
                            First name is required.
                        </small> -->
                    </div>
                    <div class="form-group col-lg-6 mb-3">
                        <label for="lastName" class="text-white font-weight-bold">Last Name</label>
                        <input id="lastName" name="lastName" type="text" min="2" max="50" class="form-control"
                            placeholder="Last name" />
                        <!-- <small class="errors alert alert-danger">
                            Last name is required.
                        </small> -->
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 mb-3">
                        <label for="username" class="text-white font-weight-bold">Username</label>
                        <input id="username" name="username" type="text" min="4" max="50" class="form-control"
                            placeholder="Username" />
                        <!-- <small class="errors alert alert-danger">
                            Username is required.
                        </small> -->
                    </div>
                    <div class="form-group col-lg-6 mb-3">
                        <label for="email" class="text-white font-weight-bold">Email</label>
                        <input id="email" name="email" type="email" class="form-control"
                            placeholder="Email" />
                        <!-- <small class="errors alert alert-danger">
                            Email is required.
                        </small> -->
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 mb-3">
                        <label for="password" class="text-white font-weight-bold">Username</label>
                        <input id="password" name="password" type="password" min="6" max="50" class="form-control"
                            placeholder="Password" />
                        <!-- <small class="errors alert alert-danger">
                            Password is required.
                        </small> -->
                    </div>
                    <div class="form-group col-lg-6 mb-3">
                        <label for="password" class="text-white font-weight-bold">Email</label>
                        <input id="password" name="password" type="password" class="form-control"
                            placeholder="Confirm Password" />
                        <!-- <small class="errors alert alert-danger">
                            Password doesn't match.
                        </small> -->
                    </div>
                </div>

                <div class="dropdown-divider"></div>

                <div class="row my-3">
                    <div class="col col-md-4">
                        <div class="d-flex">
                            <input type="submit" class="btn my-btn" value="Register" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </main>

    <footer>
        <div class="text-center footer-msg">&copy; by Gabriela Grotseva</div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>