<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{/fragments/head}"/>

    <title>My Categories</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/navigation}"/>
</header>

<main class="container pb-5">
    <div class="row">
        <div class="col-lg-12">

            <div class="row pt-4">
                <div class="col text-center text-white">
                    <h2>My Categories</h2>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="row d-flex justify-content-center">

                        <div class="col-sm-6 col-lg-3 d-flex align-items-stretch pt-4"
                             th:each="category : ${categories}" th:object="${category}">
                            <section class="bg-white box">
                                <div class="box-head">
                                    <a th:href="@{/categories/{id}(id=*{id})}" class="h5" th:text="*{name}">Category name</a>
                                </div>
                                <div class="box-category px-3 pt-3">
                                    <div class="text-center">
                                        <a th:href="@{/categories/{id}(id=*{id})}">
                                            <img th:src="'data:image/jpeg;charset=utf-8;base64,' + *{iconBase64}" alt="icon" width="50">
<!--                                            <img th:src="/images/jar-of-jam.png" width="50">-->
                                        </a>
                                    </div>

                                    <div class="text-center mt-3">
                                        <p th:text="*{description}">Description</p>
                                        <p>Number of products: <span>num</span></p>
                                    </div>

                                    <div class="row justify-content-center p-3 box-bottom">
                                        <form th:action="@{/categories/{id}/edit(id=*{id})}">
                                            <button type="submit">Edit</button>
                                        </form>
                                        <div class="col-auto"></div>
                                        <form th:action="@{/categories/{id}(id=*{id})}" th:method="DELETE">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{/fragments/footer}"/>

</body>

</html>