<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head}"/>

    <title>Expiration Date Manager</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/navigation}"/>
    </header>

    <main>
        <section class="text-white container-fluid">
            <h1 class="text-center py-4">Oops!</h1>
            <h5 class="text-center mb-5" th:text="${errorMessage} ?: 'Something went wrong'">Something went wrong</h5>
        </section>
    </main>

    <footer th:replace="~{fragments/footer}"/>
</body>

</html>