<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head}"/>

    <title>Home</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/navigation}"/>
</header>

<main>
    <section class="text-white container-fluid pt-4">
        <h1 class="text-center">Expiration Date Manager</h1>
        <h5 class="text-center mb-5">get your pantry organized</h5>

        <div>
            <div class="row justify-content-center">
                <form th:action="@{/users/login}"><button class="btn my-btn" type="submit">Login</button></form>
                <div class="col-sm-auto"></div>
                <form th:action="@{/users/register}"><button class="btn my-btn" type="submit">Register</button></form>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{/fragments/footer}"/>

</body>

</html>