<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head}"/>

    <title>Login</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/navigation}"/>
</header>

<main>

    <h2 class="text-center text-white m-3">Login</h2>

    <div class="container">
        <form th:method="post" th:action="@{/users/login}"
              class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="form-group">
                <label for="username" class="text-white font-weight-bold">Username</label>
                <input id="username"
                       name="username"
                       th:value="${username}"
                       type="text"
                       min="2" max="50" class="form-control"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="password" class="text-white font-weight-bold">Password</label>
                <input id="password"
                       name="password"
                       type="password"
                       min="2" max="20" class="form-control"
                       placeholder="Password"/>
            </div>

            <p th:if="${badCredentials}" class="errors alert alert-danger">
                Invalid username or password.
            </p>

            <div class="form-group">
                <input id="rememberMe" name="remember-me" type="checkbox">
                <label for="rememberMe" class="text-white">Remember me?</label>
            </div>

            <div class="row my-2">
                <div class="col col-md-4">
                    <div class="d-flex">
                        <input type="submit" class="btn my-btn" value="Log in"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

</main>

<footer th:replace="~{fragments/footer}"/>

</body>

</html>