<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="~{fragments/head}"/>

    <title th:text="#{recipe_edit}">Edit Recipe</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/navigation}"/>
</header>

<main>

    <h2 class="text-center text-white p-3" th:text="#{recipe_edit}">Edit Recipe</h2>

    <div class="container pb-5">
        <div class="row">
            <div class="col-12">

                <form th:object="${recipeEditDTO}" th:action="@{/recipes/{id}/edit(id=*{id})}" th:method="PUT"
                      class="main-form mx-auto col-lg-12 d-flex flex-column justify-content-center"
                      enctype="multipart/form-data">

                    <div class="row">
                        <div class="form-group col-lg-6 mb-3">
                            <label for="name" class="text-white font-weight-bold" th:text="#{recipe_name}">Name</label>
                            <input id="name" name="name" th:field="*{name}" type="text" required class="form-control"
                                   placeholder="Recipe name"/>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                 class="alert alert-danger">
                                Name is required.
                            </div>
                        </div>
                        <div class="form-group col-lg-6 mb-3">
                            <label for="image" class="text-white font-weight-bold" th:text="#{img_edit}">Upload image if you want to change
                                current one (up to 1 MB)</label>
                            <input id="image" name="image" th:field="*{image}"
                                   type="file" accept="image" class="form-control-file"/>
                            <div th:if="${#fields.hasErrors('image')}" th:errors="*{image}"
                                 class="alert alert-danger">
                                File is too big.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12 mb-3">
                            <div class="row">
                                <div class="col-lg-2">
                                    <label class="text-white font-weight-bold" th:text="#{recipe_type}">Recipe Type: </label>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type" required
                                               id="sweet" value="SWEET"
                                               th:checked="*{type.name()} == 'SWEET'">
                                        <label class="form-check-label text-white" for="sweet" th:text="#{sweet}">Sweet</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="type" required
                                               id="savory" value="SAVORY"
                                               th:checked="*{type.name()} == 'SAVORY'">
                                        <label class="form-check-label text-white" for="savory" th:text="#{savory}">Savory</label>
                                    </div>

                                </div>
                            </div>
                            <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                                 class="alert alert-danger">
                                Recipe Type is required.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 mb-3">
                            <label for="ingredientsDescription" class="text-white font-weight-bold" th:text="#{ingredients}">Ingredients
                                description</label>
                            <textarea id="ingredientsDescription" name="ingredientsDescription"
                                      th:field="*{ingredientsDescription}"
                                      rows="10" maxlength="65535" required class="form-control" onkeyup="formatInputWithBullets(event)"
                                      placeholder="Ingredients"></textarea>
                            <div th:if="${#fields.hasErrors('ingredientsDescription')}"
                                 th:errors="*{ingredientsDescription}"
                                 class="alert alert-danger">
                                Ingredient description is required.
                            </div>
                        </div>

                        <div class="form-group col-lg-6 mb-3">
                            <label for="preparation" class="text-white font-weight-bold" th:text="#{preparation}">How to prepare?</label>
                            <textarea id="preparation" name="preparation" th:field="*{preparation}" rows="10"
                                      maxlength="65535" required class="form-control" placeholder="Preparation description"></textarea>
                            <div th:if="${#fields.hasErrors('preparation')}" th:errors="*{preparation}"
                                 class="alert alert-danger">
                                Preparation description is required.
                            </div>
                        </div>

                    </div>

                    <div class="dropdown-divider"></div>

                    <div class="row my-3">
                        <div class="col col-md-4">
                            <div class="d-flex">
                                <button type="submit" class="btn my-btn" th:text="#{submit}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"/>

<script src="/js/functions.js"></script>

</body>

</html>