body {
     background-color: #a5baab;
     font-family: 'Montserrat', sans-serif;
     background-image: url('../images/Background40.png');
     background-repeat: no-repeat;
     background-size: 100% auto;
     background-position: bottom;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
}

footer {
     margin-top: auto;
}

.footer-msg {
     background: #eff3eb;
}

.navbar .logo {
     max-height: 40px;
}

.my-btn {
     background-color: #ecb409;
     border-color: #ecb409;
     color: white;
     width: 150px;
     height: 45px;
     border-radius: 45px;
}

.my-btn:hover,
.my-btn:focus,
.my-btn:active {
     background-color: #c99b10;
     border-color: #c99b10;
}

.add-btn {
     background-color: #ecb409;
     border-color: #ecb409;
     color: white;
     width: 100px;
     height: 36px;
     border-radius: 36px;
}

.add-btn:hover,
.add-btn:focus,
.add-btn:active {
     background-color: #c99b10;
     border-color: #c99b10;
}

.green-link:hover,
.green-link:focus,
.green-link:active {
     text-decoration: none;
     color: #67746b;
}

.recipe-link {
     display: inline-block;
     background-color: #f9faf8;
}

.recipe-link:hover,
.recipe-link:focus,
.recipe-link:active {
     text-decoration: none;
     color: black;
     background-color: #f1f2f0;
}

.box {
     border-radius: 10px;
}

.box-head {
     background: #eff3eb;
     text-align: center;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     padding: 10px;
}

.box-content {
     height: 288px;
     overflow: auto;
}

.box-content-table {
     min-height: 288px;
}

.box-recipes {
     height: 600px;
     overflow: auto;
}

.box-category {
     min-height: 188px;
}

.box-bottom button {
     background-color: transparent;
     border: none;
     color: #a5baab;
}

.box-bottom button:hover,
.box-bottom button:focus,
.box-bottom button:active {
     cursor: pointer;
     color: #67746b;
}

form.main-form {
     background-image: linear-gradient(rgba(184, 202, 189, 0.8), rgba(165, 186, 171, 0.8));
     padding: 10px 30px;
     border-radius: 20px;
}

th img {
     cursor: pointer;
}

.table-striped #tableContent tr:target {
     background-color: #e3e9dc;
}

