<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<header th:fragment="navigation">
    <nav class="main-nav">
        <ul>

            <th:block th:unless="${@currentUser.isLogged()}">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a th:href="@{/login}">Login</a>
                </li>
                <li>
                    <a th:href="@{/register}">Register</a>
                </li>
                <li>
                    <a th:href="@{/about}">About</a>
                </li>
            </th:block>

            <th:block th:if="${@currentUser.isLogged()}">
                <li>
                    <a th:href="@{/routes/add}">Add new route</a>
                </li>
                <li>
                    <a th:href="@{/users/profile}">Profile</a>
                </li>
                <li>
                    <a th:if="${@currentUser.isAdmin()}" href="/">Admin</a>
                </li>
                <li>
                    <a th:href="@{/logout}">Logout</a>
                </li>
            </th:block>

        </ul>
    </nav>
</header>